@import "../../styles/Partials/fonts";
@import "../../styles/Partials/mixins";
@import "../../styles/Partials/variables";

.search {
  height: 50vh;
  background-image: url("../../assets/images/erik.png");
  background-size: cover;
  background-repeat: no-repeat;
  //   display: flex;
  //   justify-content: space-between;
  &__slogan {
    color: white;
    margin-top: 2%;
  }
  &__container-left {
    margin: 5% 0 0 5%;
  }
  &__container-right {
    margin: 15% 0 0 0;
  }
  &__input-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  &__input {
    margin-bottom: 5%;
  }
  &__tag {
    color: white;
  }
}
